<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.sastaGoldari">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.SelectEditActivity"></activity>
        <activity android:name=".activities.vieworder" />
        <activity android:name=".activities.deleteitem" />
        <activity android:name=".activities.edititem" />
        <activity android:name=".activities.additem" />
        <activity android:name=".activities.Welcome" />
        <activity android:name=".activities.thankyou" />
        <activity android:name=".activities.address" />
        <activity android:name=".activities.reviewitems" />

        <activity android:name=".activities.logadmin" />
        <activity android:name=".activities.MainActivity" />
        <activity android:name=".activities.splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>